table.matrix {
  border: none;
  background: transparent;
  border-collapse: collapse;
  width: auto;
  table-layout: auto;
}

table.matrix tr {
    background: transparent;
}

table.matrix td {
  background: transparent;
  border: none;
  color: inherit;
  padding: 0px;
}
